#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

textarea {
  height: 5rem;
  text-indent: 0.5rem;
}

input[type="text"] {
  padding: 0.5rem 0 0.5rem 0;
  text-indent: 0.5rem;
}

select {
  width: 10rem;
  margin: 0 auto;
}

label {
  margin-bottom: -1.5rem;
  font-size: 18px;
  font-weight: bold;
}

form button {
  width: 7rem;
  margin: 0 auto;
}
